.search-container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
}
.input-button {
  padding-bottom: 5%;

  input {
    width: 50vw !important;
    height: 5vh;
    border-radius: 15px;
    overflow: visible;
    max-width: 800px;
    border: none !important;
  }
}
.input-button button {
  background-color: #d43b3b;
  height: 5vh;
  width: 60px;
  border-radius: 0px 15px 15px 0px;
  vertical-align: bottom;
  margin-left: -40px;
  border: none;
}
.input-button button:hover {
  background-color: #d22a2a;
}
.input-button button svg {
  color: #fff;
}
.map {
  width: 90vw;
  height: 50vh !important;
  top: 300px;
}
.leaflet-container {
  height: 100%;
  border-radius: 14px;
}
