.search-container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 100px;
}
.input-button {
  padding-bottom: 2%;

  input {
    width: 50vw !important;
    height: 5vh;
    border-radius: 15px;
    overflow: visible;
    max-width: 800px;
    border: none !important;
  }
}
.input-button button {
  height: 5vh;
  width: 60px;
  border-radius: 0px 15px 15px 0px;
  vertical-align: bottom;
  margin-left: -40px;
  border: none;
}
.input-button button:hover {
  background-color: #d22a2a;
}
.input-button button svg {
  color: #fff;
}
.map {
  width: 90vw;
  height: 50vh !important;
  top: 300px;
}
.leaflet-container {
  height: 100%;
  border-radius: 14px;
}
.modal-content {
  height: 500px !important;
}
.modal-body {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 400px;
  }
  textarea {
    resize: none;
    height: 250px;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    overflow: hidden;
  }
  label {
    padding-top: 3.5%;
    font-weight: bold;
  }
}
.textarea-container {
  width: 100%;
  padding-bottom: 20px;
}
.modal-body.placeholder {
  ::-webkit-input-placeholder {
    line-height: 250px;
    text-align: center;
  }
}
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  .img-search {
    padding-right: 5px;
  }

  svg {
    filter: invert(35%) sepia(57%) saturate(1849%) hue-rotate(335deg)
      brightness(87%) contrast(89%);
  }
}
.custom-select {
  width: 300px !important;
}
