@import "../../mixin.scss";

img {
  height: 50px;
  width: 50px;
  border-radius: 14px;
}
.bg-underlay {
  width: 100% !important;
  height: 80px;
  border-radius: 14px;
  background-color: #dfdfdf;
  flex-direction: row;
  min-width: 80%;
}
.navbar {
  width: 99%;
  border-radius: 14px !important;
  justify-content: space-between !important;
}
.navbar-collapse .collapse {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  width: 100px !important;
}
.collapse {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto !important;
}
.navbar-brand {
  padding-left: 10px;
}
.btn-primary {
  background-color: #d43b3b !important;
  border: none !important;
}
.btn-primary:hover {
  background-color: #d22a2a !important;
}
@media (min-width: 320px) and (max-width: 342px) {
  img {
    height: 40px;
    width: 40px;
    border-radius: 14px;
  }
  .collapse {
    max-width: 50px;
  }
}
