.footer {
  background-color: #fff;
  width: 100% !important;
  height: 2vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  span {
    font-size: 0.8rem;
    padding-right: 5px;
  }
  img {
    width: 10px;
    height: 10px;
  }
}
